<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515483904388-3ehf3u3j39kp18be77fsi6r4mhe6hpun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515483904388-3ehf3u3j39kp18be77fsi6r4mhe6hpun</string>
	<key>API_KEY</key>
	<string>AIzaSyBiAIgxBx8i2VQY_PlEhdGTGEob_Wv_rHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>515483904388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarSchedular</string>
	<key>PROJECT_ID</key>
	<string>calendar-scheduler-hw0708</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-scheduler-hw0708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515483904388:ios:aed157641f2ded6680d5d1</string>
</dict>
</plist>